
<div class="row">
    <% flash.each do |type, msg| %>
      <% if type == "success" %>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="alert alert-success">
      <% elsif type == "alert" %>
        <div class="col-xs-4 col-xs-offset-4">
          <div class="alert alert-danger">
      <% elsif type == "info" || type == "notice" %>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="alert alert-info">
      <% else %>
        <div class='alert alert-<%= "#{type}" %>'>
      <% end %>
          <div class="text-center">
            <%= msg %>
          </div>
        </div>
    <% end %>
</div>
       